<!DOCTYPE html>
<head>
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel = "stylesheet" href="/css/style.css">
</head>
<body>

<div class ="main-content">


    {{>header}}
<p> {{HelpText}} </p>

    <p>use this site to get your weather</p>

</div>
    {{>footer}}

    

</body>
</html>